.input-container {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
}

span {
    font-size: 13px;
    margin-top: -14px;
}

.input-div {
    display: flex;
    align-items: center;
}

img {
    border-right-width: 0px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 25px;
    width: 25px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 38px;
    font-size: 15px;
    padding: 0px 10px;
    color: #000;
    transition: all 0.3s;
    width: 100%;
}
input::placeholder {
    color: #ccc;
}
input:active,
input:focus {
    border-color: #F7D02C;
    outline: none;
}
