main {
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    position: fixed;
    bottom: 20px;
    left: 45%;
}

@media only screen and (max-width: 720px) {
    main  {
        flex-direction: column;
    }
}